
{% load static %}

<!DOCTYPE html>
<html>
	<head>
		<title>{% block title %}{% endblock %}</title>
		<meta charset="utf-8">
		<link rel="stylesheet" href={% static 'style.css' %}>
		{% block head %}{% endblock %}
	</head>
	<body>
		<header>
			<span id="title">ProteinsDB</span>
  			<p>The protein database to learn Django</p>
  			<form action="/search/" method="get">
  				<input type="text" id="search" name="q" placeholder="Search..." style="height: 30px; width: 30%;">
  			</form>
		</header>
		{% include 'base/menu.html' %}

		<main>
		<div id="content">
			{% block content %}
        	{% endblock %}
		</div>
		</main>
	</body>
</html>


